a {
	color: #0075bd;
	padding: 4px 6px;
}
a img:hover {
	opacity: .85;
}
#main .region-content a:hover,
.paragraph--id--32 a:hover,
#footer a:hover {
	text-decoration: none;
}
/*.happening-teaser:hover .field-name-field-image a img {
	opacity: .95;
}*/
#toolbar-administration {
    z-index: 9999;
    position: relative;
}
.hide-link-text {
	text-indent: -1000em;
}

/***** Header *****/
.cu-seal #cu-header {
	
}
.cu-seal.scrolled #cu-header {
    position: fixed;
	z-index: 999;
}
.cu-seal #cu-header .cu-brand {
    padding-top: 18px;
    padding-bottom: 18px;
	padding-left: 50px;
    font-family: canada-type-gibson, sans-serif;
    position: relative;
}
.cu-seal .cu-search {
    border: none;
}
.cu-seal .cu-search > .container-fluid {
	position: relative;
}
.buttons {
    top: 8.335em;
    z-index: 50;
    position: absolute;
    right: 15px;
}
/*#cu-search {
    margin-top: -139px;
}*/






#cu-header #navbar {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}
.cu-seal .cu-logo a {
    z-index: 99;
    position: relative;
}
#cu-search .mobile-button {
    width: 36px;
    height: 36px;
    background-color: #e5271b;
    border-radius: 2px;
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}
#page-header #block-mainnavigation-2 {
	text-align: center;
    padding-right: 15px;
    margin-top: 8px;
    width: 628px;
	float: right;
    clear: both;
}
.navbar-nav {
    display: inline-block;
	width: 100%;
    float: none;
}
#navbar .caret {
	display: none;
}
.breadcrumb {
    padding: 30px 60px 14px 0;
	border-radius: 0;
    background-color: transparent;
	max-width: 1400px;
	margin: 0 auto;
}
.breadcrumb > li {
    margin-bottom: 0;
}
.breadcrumb > li.active,
.breadcrumb > li {
    color: #222;
}
.breadcrumb > li,
.breadcrumb > li a {
    font-size: 14px;
	font-family: canada-type-gibson,sans-serif;
}
/*.breadcrumb > li + li:before {
	content: '/';
    display: inline-block;
    background: url(../images/nav_arrow.png) 63% 49.99% no-repeat;
    background-size: 41%;
    border: 1px solid #a5a5a5;
    width: 10px;
    height: 10px;
    padding: 0 0 0 0;
    margin: 0px 4px -1px -3px;
    border-radius: 50%;
}*/
.breadcrumb > li + li:before {
    content: "/ ";
    padding: 0 2px;
    color: #999;
}
#main {
    padding-top: 0;
}
.path-frontpage #main {
    padding-top: 34px;
}
#cu-header .cu-brand #site-name {
	font-size: 48px;
	font-family: canada-type-gibson,sans-serif;
	font-weight: 500;
	padding: 36px 40px 5px 0;
	line-height: 1.42857;
}
/*#cu-search-button {
    background-color: #e5271b;
    border-radius: 8px;
}
#cu-search-button.open {
    background-color: #b31b1b;
}*/

.cu-seal.scrolled.not-front .cu-logo a {
    background: url(../images/cu_logo_white45.gif) 0 0 no-repeat;
    width: 168px;
    height: 45px;
}
.cu-seal.scrolled.not-front #cu-header .cu-brand #site-name {
    font-size: 32px;
    line-height: 0;
}
.cu-seal.scrolled.not-front #site-name a span:nth-child(2) {
    font-size: 32px;
}
.cu-seal.scrolled.not-front #cu-header .cu-brand .cu-unit {
    width: 54%;
}
.cu-seal.scrolled.not-front #cu-header .cu-brand {
    padding-top: 16px;
    padding-bottom: 16px;
}

@media (min-width: 1200px) {
	#cu-header .cu-brand #site-name {
		font-size: 47px;
		font-family: canada-type-gibson,sans-serif;
		line-height: 1.42857;
	}
}
@media (min-width: 992px) {
	.cu-seal .cu-logo a {
		width: 100px;
		height: 100px;
	}
}
@media (min-width: 767px) {
	.cu-seal #cu-header .cu-brand .cu-unit {
		text-align: center;
		margin: -28px 0 0 0;
		width: 73%;
	}

}