/***** Navigation *****/

#navbar .nav li {
    padding: 0 30px;
}
#navbar .nav > li > a {
	padding: 15px 0 8px 0;
    font-size: 23px;
    color: #222;
	border-bottom: 5px solid transparent;
}
.path-frontpage #navbar .nav > li > a {
	padding: 15px 0 9px 0;
}
a:focus .fa,
a:hover .fa,
#main a:focus,
#main a:hover,
#footer a:focus,
#footer a:hover,
#skipnav a:focus,
#skipnav a:hover,
#spotlights a:focus,
#spotlights a:hover,
.region-breadcrumbs a:focus,
.region-breadcrumbs a:hover {
    background: #fffd96 !important;
    color: #185b75 !important;
}
#navbar .nav > li > a:focus,
#navbar .nav > li > a:hover {
    background: none;
	color: #b31b1b;
}
#navbar .nav > li.active > a {
    background: none;
	border-bottom: 5px solid #b31b1b;
}

#main #block-mainnavigation-menu {
    color: #222;
    font-size: 18px;
    font-weight: 600;
    padding-left: 9px;
	margin-bottom: 0;
}
.landing-page #main #block-mainnavigation-menu {
    border-left: 5px solid #b31b1b;
	margin-bottom: 6px;
	line-height: 1.2;
}
#main aside ul li a {
    color: #222;
    font-size: 15px;
    padding-left: 24px;
    margin-bottom: 0;
}
#main aside ul li a:hover,
#main aside ul li a:focus {
    color: #b31b1b;
	background: none;
}
#main aside ul li.active a {
    border-left: 5px solid #b31b1b;
}
#main aside .navbar-nav > li {
    padding-top: 6px;
    padding-bottom: 6px;
    margin-left: 15px;
}
#main aside .navbar-nav > li > a {
    padding-top: 0;
    padding-bottom: 0;
	padding-left: 9px;
}

