/***** Navigation *****/

#page-header #block-mainnavigation-2 > ul > li {
    margin: 0 2px !important;
}
#navbar .nav > li > a {
	padding: 8px 3px 7px;
    margin-bottom: -7px;
    display: inline-block;
    font-size: 18px;
    color: #767676;
    border-bottom: 5px solid transparent;
}
#navbar .nav > li > .mobile-more-nav-text {
	padding: 8px 3px 7px;
    margin-bottom: -7px;
    display: inline-block;
    font-size: 18px;
    color: #767676;
    border-bottom: 5px solid transparent;
	line-height: 20px;
}
#page-header #block-secondary-2 li:last-child > a {
	padding: 8px 15px;
}
.menu--secondary.nav > li > a:hover, 
.menu--secondary.nav > li > a:focus {
    text-decoration: none;
    background-color: transparent;
}
#page-header #block-mainnavigation-2 .nav > li > a:hover, 
#page-header #block-mainnavigation-2 .nav > li > a:focus {
    text-decoration: none;
    background-color: transparent;
}
#page-header #block-mainnavigation-2 .nav > li:last-child > a {
    padding-right: 0;
}

.path-frontpage #navbar .nav > li > a {
	text-decoration: none;
}
a:focus .fa,
#main a:focus,
#footer a:focus,
#skipnav a:focus,
#spotlights a:focus,
.region-breadcrumbs a:focus {
    background: #fffd96 !important;
    color: #185b75 !important;
}
#main .panel-heading .panel-title > a:focus {
    background: none !important;
}
.paragraph--bp-accordion-container .bp-accordion-button {
    margin: 0 0 12px 0;
	border-radius: 0;
	background-color: rgba(0, 79, 94, 0.6196078431372549);
}
#navbar .nav > li.active > a {
    border-bottom: 5px solid #333;
}

#main #block-mainnavigation-menu {
    color: #222;
    font-size: 20px;
    font-weight: normal;
    padding: 4px 10px;
    margin-bottom: 12px;
    border-left: 5px solid #e5271b;
}
#main aside ul li a.is-active {
    font-weight: bold;
}
.landing-page #main #block-mainnavigation-menu {
    border-left: 5px solid #b31b1b;
	margin-bottom: 6px;
	line-height: 1.2;
}
#main aside ul li a {
    color: #444;
    font-size: 15px;
    padding: 6px;
    margin-left: 32px;
    margin-right: 0!important;
    margin-bottom: 0;
}
#main aside ul li {
    padding: 10px 0;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 0;
}
#main aside ul li a:hover {
	background: none !important;
	text-decoration: underline;
}
#main aside ul li a:focus {
	text-decoration: none;
}
#main aside ul li ul {
    margin: 18px 12px 18px 52px;
    border-left: 1px solid #f5f5f5;
}
#main aside ul li ul li ul {
    margin: 18px 12px 18px 33px;
}
#main aside ul li ul li a {
    color: #878787;
    margin-left: 5px;
	font-size: 14px;
}
#main aside ul li ul li a.is-active {
/*    background: url(../images/sidebar-bullet.png) 1px 50% no-repeat;
    background-size: 11px;*/
    padding-left: 18px;
    margin-left: -7px;
}
#main aside ul li ul li a:hover {
    color: #878787 !important;
}
#main aside ul li.active a {
    border-left: 5px solid #b31b1b;
}
#main aside .navbar-nav > li {
    padding-top: 6px;
    padding-bottom: 6px;
    margin-left: 15px;
}
#main aside .navbar-nav > li > a {
    padding-top: 0;
    padding-bottom: 0;
	padding-left: 9px;
}
#page-header .logo {
    margin-top: -21px;
    margin-bottom: 38px;
}

@media (min-width: 980px) {
	#navbar .container-fluid > .navbar-collapse {
		margin-left: 90px;
		margin-right: 0;
	}
}

@media (max-width: 980px) {
	#navbar .container-fluid > .navbar-collapse {
		margin-left: 0;
		margin-right: 0;
	}
	#navbar .nav li {
		width: 25%;
	}
}
@media (max-width: 767px) {

}


