
.flip-horizontal {
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: fliph;
    filter: fliph;
}
.fa-bicycle {
    padding: 4px;
    color: #3bc8b3;
    background: #fff;
    font-size: 30px;
}
.bicycle-wrap {
    text-align: center;
    margin-top: -40px;
	margin-bottom: 5px;
}
hr.bicycle {
    width: 42%;
    padding-top: 14px;
}
.path-frontpage #main .video-blurb {
    font-size: 15px;
    padding: 0 102px;
    text-align: center;
    font-style: italic;
}
footer .region-footer section span.contact-info a {
	margin-left: -6px;
}

/***** Front page *****/
.path-frontpage #main .region-content article .content > div:nth-child(4) .paragraph--id--33 > .paragraph__column {
    margin-top: 40px;
}
.path-frontpage #main .region-content article .content > div:nth-child(4) .paragraph--id--33 > .paragraph__column > div:first-child {
    position: absolute;
    top: -75px;
    left: 50%;
    width: 500px;
    margin: 0 0 0 -250px;
}
.path-frontpage .paragraph--id--33 .paragraph__column > div:nth-child(2) {
    width: 50%;
}
.path-frontpage .paragraph--id--33 .paragraph__column > div:nth-child(3) {
    width: 50%;
}
.path-frontpage .paragraph--id--33 .paragraph__column > div:nth-child(3) h3 {
    font-size: 20px;
	margin-bottom: 4px;
}
.path-frontpage .paragraph--id--33 .paragraph__column > div:nth-child(3) ul {
    list-style: none;
    padding-left: 0;
    margin-left: -5px;
}
.path-frontpage .paragraph--id--52 .paragraph__column {
	padding: 0 0 21px 0;
}
.path-frontpage .paragraph--id--5 .paragraph__column {
	padding-bottom: 0;
}
.path-frontpage .paragraph--id--5 .paragraph__column .paragraph--type--bp-columns-two-uneven__2col-column1 {
	padding-bottom: 0;
	max-width: none;
}
.path-frontpage #main .block-views-blockspotlight-block-2 .card.views-row:first-child {
	clear: both;
}
.path-frontpage #main .block-views-blockspotlight-block-2 .card.views-row > div {
	padding-left: 8px;
	padding-right: 8px;
}
.path-frontpage #main .block-views-blockspotlight-block-2 .card.views-row .field-name-field-image a {
	display: block;
}
.path-frontpage #main .view-header-title {
    float: left;
    color: #000;
    margin: 0 0 16px 15px;
    font-size: 34px;
}
.path-frontpage #main .block-views-blockevents-block-1 {
	background: #ebebeb;
    padding: 22px;
}
.path-frontpage #main .block-views-blockevents-block-1 > .form-group {
	background: #fff;
	padding: 16px 10px 16px 6px;
	margin-bottom: 0;
}
.path-frontpage #main .block-views-blockevents-block-1 .view-header-title {
    float: none;
}
.path-frontpage #main .block-views-blockspotlight-block-1 .view-header-title {
    margin: 0 12px 16px 5px;
}
.path-frontpage #main .block-views-blockspotlight-block-2 .view-header-title {
    width: 22%;
}
.path-frontpage #main .block-views-blockspotlight-block-2 .view-header-content {
    font-size: 13px;
    line-height: 20px;
    float: right;
    background: #fff;
    padding: 15px 15px 15px 15px;
    margin-right: 1.5%;
    margin-top: -12px;
    margin-bottom: 26px;
    width: 73.5%;
}
.path-frontpage #main .block-views-blockheader-image-block-1 .view-footer {
	position: absolute;
    padding: 0 20px 12px 0;
    bottom: 0;
    right: 0;
    width: 50%;
}
.path-frontpage #main .block-views-blockheader-image-block-1 .view-footer h3 {
    color: #fff;
    margin-bottom: 10px;
    line-height: 31px;
    width: 78%;
}
.path-frontpage #main .block-views-blockheader-image-block-1 .view-footer .body {
    color: #eeeeee;
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 10px;
}
.path-frontpage #main .block-views-blockheader-image-block-1 .view-footer .footnote {
    color: #eee;
    font-size: 13px;
}
.path-frontpage .views-element-container.block-views-blockspotlight-block-2 {
	background: #ebebeb;
    padding: 22px;
	padding-bottom: 39px;
}
.path-frontpage .views-element-container.block-views-blockevents-block-1 {
	background: #ebebeb;
    padding: 22px;
}
.path-frontpage .views-element-container.block-views-blockevents-block-1 .views-row {
    margin-bottom: 20px;
}
.path-frontpage .views-element-container.block-views-blockevents-block-1 .more-link {
    margin: 30px 0 12px 20px;
}
.path-frontpage .views-element-container.block-views-blockevents-block-1 .more-link a {
    text-decoration: none;
    font-size: 12px;
}
.path-frontpage #main .block-views-blockspotlight-block-2 .field-name-field-image img {
	border: 10px solid #fff;
}
.path-frontpage #main .paragraph--id--35 .views-row {
	width: 50%;
    max-width: 300px;
    max-height: 198px;
    margin-bottom: 20px;
    float: left;
}
.path-frontpage #main .paragraph--id--35 .views-row .happening-teaser {
    position: relative;
    max-height: 198px;
}
.path-frontpage #main .paragraph--id--35 .views-row:nth-child(odd) {
	margin-right: 20px;
}
.path-frontpage #main .paragraph--id--35 .views-row:first-child {
	background: #27A0DE url(../images/twitter.png) 96% 96% no-repeat;
    background-size: 26px;
    padding-top: 46px;
    padding-bottom: 42px;
    padding-left: 25px;
    padding-right: 25px;
}
.path-frontpage #main .paragraph--id--35 .views-row:first-child p {
    color: #fff;
    font-size: 16px;
}
.path-frontpage #main .paragraph--id--35 .views-row:first-child p a {
    color: #fff;
    font-size: 16px;
}
.path-frontpage #main .paragraph--id--35 .field-name-field-image a {
	display: block;
    padding: 0;
}
.path-frontpage #main .video-thumb {
    max-width: 365px;
    margin: 0 auto;
}
.path-frontpage #main .paragraph--id--35 .field-name-field-image:hover .field-name-title {

}
.path-frontpage #main .paragraph--id--35 .field-name-field-image:hover .field-name-title a {

}
.path-frontpage #main .paragraph--id--35 .field-name-field-image::after {

}
.path-frontpage #main .paragraph--id--35 .views-row:nth-child(2) .field-name-field-image::after {

}
.path-frontpage #main .paragraph--id--35 .field-name-field-image img {
	max-height: 198px;
}
.path-frontpage #main .paragraph--id--35 .views-row .happening-teaser .field-name-title {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 0;
	z-index: 9;
}
.path-frontpage #main .paragraph--id--35 .right-caret {
    display: none;
    margin: 0 auto 12px;
    background: url(../images/nav_arrow_white.png) center center no-repeat;
    background-size: 28%;
    height: 22px;
    width: 22px;
    border: 2px solid #fff;
    border-radius: 50%;
}
.path-frontpage #main .paragraph--id--35 .field-name-title a {
	-webkit-transition: all .55s ease;
    -moz-transition: all .55s ease;
    -o-transition: all .55s ease;
    transition: all .55s ease;
    text-decoration: none;
	text-align: center;
    display: block;
    color: #fff;
	margin-top: 0;
    font-size: 18px;
    padding: 165px 14px 10px;
    line-height: 23px;
}
.path-frontpage #main .block-views-blockspotlight-block-2 .field-name-title {
    padding: 14px 12px;
    margin-bottom: 0;
}
.path-frontpage #main .block-views-blockspotlight-block-2 .field-name-title a {
    text-decoration: none;
	padding: 4px 6px;
    color: #000;
    font-size: 18px;
    display: block;
    margin: 0 auto;
}
.path-frontpage #main .paragraph--id--34 .field-name-title a {
    text-decoration: none;
    display: inline-block;
    width: 90%;
    color: #000;
    font-size: 23px;
    padding: 4px 6px;
    margin: 0 6px;
}
.path-frontpage #main .paragraph--id--34 .field-name-summary {
    padding: 0 12px 20px 12px;
}
.path-frontpage #main .paragraph--id--35 .text-overlay {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.16+0,0.65+100 */
	background: -moz-linear-gradient(top, rgba(0,0,0,0.16) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.16) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(0,0,0,0.16) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
    position: absolute;
    width: 300px;
    max-width: 100%;
    max-height: 198px;
    height: 100%;
    top: 0;
    left: 0;
}
.path-frontpage #main .paragraph--id--35 .views-row .happening-teaser .field-name-title a:focus,
.path-frontpage #main .paragraph--id--35 .views-row .happening-teaser .field-name-title a:hover {
	background: none !important;
	color: #fff !important;
	padding: 91px 14px 85px;
	outline: 0;
}
.path-frontpage #main .paragraph--id--35 .views-row .happening-teaser .field-name-title a:focus .right-caret,
.path-frontpage #main .paragraph--id--35 .views-row .happening-teaser .field-name-title a:hover .right-caret {
	display: block;
}
.path-frontpage #main .paragraph--id--35 .field-name-field-image {
	margin: 0;
    max-height: 198px;
}
.path-frontpage #main .paragraph--id--57 .paragraph__column {
	padding-top: 2px;
    padding-bottom: 8px;
}
.path-frontpage #main .paragraph--id--58 .paragraph__column > div:nth-child(2) {
	position: absolute;
    width: 32%;
    top: 0;
    left: 0;
    padding-left: 17px;
    padding-right: 15px;
    margin: 84px 20px 0 62px;
    border-left: 1px solid #fff;
}
.path-frontpage #main .paragraph--id--58 .paragraph__column > div:nth-child(2) h2 {
	color: #fff;
	margin-left: 0;
    float: none;
}
.path-frontpage #main .paragraph--id--58 .paragraph__column > div:nth-child(2) p {
	font-size: 16px;
	color: #fff;
	padding: 0 4px;
}
.path-frontpage #main .paragraph--id--58 .paragraph__column > div:nth-child(2) .timeline-link {
	padding: 0;
}
.path-frontpage #main .paragraph--id--58 .paragraph__column > div:nth-child(2) .timeline-link a {
	text-decoration: none;
}
.path-frontpage #main .paragraph--id--58 .paragraph__column > div:nth-child(2) a {
	color: #fff;
}
.path-frontpage #main .block-views-blockspotlight-block-2 .field-name-summary {
    padding: 0 16px 20px 17px;
}
.path-frontpage #main .paragraph--id--36 .field-name-summary p, 
.path-frontpage #main .block-views-blockspotlight-block-2 .field-name-summary p {
    font-size: 15px;
    line-height: 20px;
}
.path-frontpage #main .block-views-blockspotlight-block-2 .read-more {
    padding: 4px 12px 10px 12px;
}
.path-frontpage #main .block-views-blockspotlight-block-2 .more-link {
    text-decoration: none;
    font-size: 12px;
    color: #b31b1b;
}
.container-fluid {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1370px;
}
.paragraph.paragraph--type--bp-columns-two-uneven.paragraph--style--66-33 .paragraph--type--bp-columns-two-uneven__2col-column1 {
    float: left;
    width: 66.66666667%;
}

.fa-clock-o:before {
    font-size: 15px;
    padding: 0 5px 0 1px;
    font-weight: bold;
    color: #999;
}
.fa-map-marker:before {
    font-size: 17px;
    padding: 0 7px 0 3px;
    font-weight: bold;
    color: #b31b1b;
}
#site-name a {
	text-decoration: none;
	text-transform: uppercase;
	color: #000;
}
#site-name a span:first-child {
	font-weight: 700;
}
#site-name a span:nth-child(2) {
	font-weight: 300;
	font-size: 46px;
}
#spotlights {
	padding: 50px 0;
	border-top: 1px solid #b2b2b2;
}
.news-spotlights .views-row .field-name-field-image {
	float: left;
	margin: 10px 0 14px 7px;
	padding: 0;
}
.news-spotlights .views-row .field-name-field-image a {
	display: inline-block;
}
.news-spotlights .views-row {
	clear: both;
    overflow: hidden;
    margin-bottom: 18px;
    padding-bottom: 18px;
    border-bottom: 1px solid #ddd;
}
.path-frontpage .views-element-container.block-views-blockevents-block-1 .views-row:first-child {
	margin-top: 25px;
}
.news-spotlights div.more-link {
    padding-left: 9px;
    margin-bottom: 5px;
}
.news-spotlights div.more-link a {
    display: inline-block;
	font-size: 12px;
	text-decoration: none;
}
.news-spotlights .views-row .col-2 {
	padding-left: 180px;
	word-wrap: break-word;
}
.news-spotlights .views-row:nth-child(3) {
    border-bottom: none;
	margin-bottom: 10px;
    padding-bottom: 0;
}
.block-views-blockspotlight-block-1 {
	width: 104%;
}
.news-spotlights .views-row .title {
    text-decoration: none;
    display: block;
    padding-top: 3px;
    padding-bottom: 8px;
    margin-top: 8px;
    margin-bottom: 17px;
    color: #000;
    font-size: 21px;
    line-height: 1.3em;
}
.news-spotlights .views-row .more-link {
    display: inline-block;
	font-size: 12px;
}

/***** Events *****/
.event-month-and-day {
    text-align: center;
    line-height: 17px;
    border-left: 4px solid #b31b1b;
	border-right: 1px solid #eee;
    padding: 3px 0 8px 8px;
    margin-left: 18px;
    margin-top: 4px;
}
.event-month-and-day .event-month {
    float: left;
    text-transform: uppercase;
    color: #999;
    display: block;
    font-size: 12px;
    padding-left: 4px;
}
.event-month-and-day .event-day {
    clear: both;
    color: #000;
    font-weight: 600;
    font-size: 18px;
    display: block;
    letter-spacing: -3px;
    text-align: left;
}
.event-month-and-day .event-day sup {
    top: -6px;
    font-size: 10px;
    margin-left: 3px;
    letter-spacing: .005em;
}
.event-title-and-location a {
    text-decoration: none;
    color: #b31b1b;
    font-size: 16px;
    margin-bottom: 7px;
    display: inline-block;
    text-align: left;
}
.event-title-and-location .event-location,
.event-title-and-location .event-times {
    padding: 0 7px;
}

/***** Happenings *****/
.path-frontpage #main .happenings.view-header-title {
    text-align: center;
    float: none;
    margin: 0 0 24px 0;
}
.path-frontpage #main .happenings-more-link {
    float: right;
    margin-right: 30px;
    margin-top: -50px;
}
.path-frontpage #main .happenings-featured-button {
    text-align: center;
}
.path-frontpage #main .happenings-featured-button span {
    background: #3bc8b3;
    text-transform: uppercase;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    margin: 0 0 58px;
    padding: 10px;
}

.path-frontpage #main .region-content article .content > div:nth-child(5) {
	padding: 35px 15px 65px 15px;
}
.path-frontpage #main .region-content article .content > div:nth-child(5) > div {
	padding: 40px 40px 77px;
    border: 1px solid #767676;
}
.path-frontpage #main .region-content article .content > div:nth-child(5) > div > .paragraph__column {
    text-align: center;
}
.path-frontpage #main .region-content article .content > div:nth-child(5) > div > .paragraph__column > div {
	width: 25%;
}
.path-frontpage #main .region-content article .content > div:nth-child(5) > div > .paragraph__column > div img {
    max-height: 115px;
}
.path-frontpage #main .region-content article .content > div:nth-child(5) > div > .paragraph__column > div:last-child {
    position: absolute;
    bottom: -98px;
    width: 100%;
}
.path-frontpage #main .region-content article .content > div:nth-child(5) > div > .paragraph__column > div:first-child {
    position: absolute;
    padding: 0 88px;
    background: #fff;
    width: 550px;
    top: -64px;
    left: 50%;
    margin-left: -275px;
}
.path-frontpage #main .region-content article .content > div:nth-child(5) > div > .paragraph__column > div:first-child h2 {
    margin-left: 0;
}
.path-frontpage #main .region-content article .content > div:nth-child(5) > div > .paragraph__column > div .rank {
    font-size: 40px;
    font-weight: 600;
    margin: 10px auto 12px;
}
.path-frontpage #main .region-content article .content > div:nth-child(5) > div > .paragraph__column > div .ranker {
    text-transform: uppercase;
    text-align: center;
    color: #888;
    font-size: 16px;
}
.path-frontpage #main .region-content article .content > div:nth-child(5) > div > .paragraph__column > div .award-rank {
    border-bottom: 4px solid #ccc;
    width: 45%;
    margin: 10px auto 10px auto;
}
.path-frontpage #main .rankings-graphic-wrapper {
    background: #fff;
    width: 220px;
    margin: 0 auto;
}
.path-frontpage #main .rankings-graphic {
    color: #fff;
    padding: 10px 30px;
    background: #b31b1b;
    width: 154px;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    border-radius: 4px;
}
.path-frontpage #main .region-content article .content > div:nth-child(5) > div > .paragraph__column .awards-blurb {
    font-size: 17px;
}

footer {
    padding: 58px 0 24px 0;
}
footer {
    background: #1c2c36;
	color: #fff;
}
footer .region-footer {
    padding: 14px 0 65px;
    overflow: hidden;
}
footer .region-footer section p,
footer .region-footer section p a,
footer .region-footer section form label {
    color: #fff;
    background: none;
    font-size: 14px;
    line-height: 17px;
    font-family: canada-type-gibson,sans-serif;
}
footer .region-footer section form label {
    font-weight: normal;
}
footer .region-footer section form #edit-actions-submit {
    color: #fff;
    background: #ef4035;
    padding: 12px 55px;
    text-transform: uppercase;
    font-size: 16px;
    font-family: canada-type-gibson, sans-serif;
    font-weight: 600;
    border: none;
}
footer .region-footer section form input[type="email"] {
    margin: 10px 0 28px;
	font-family: canada-type-gibson,sans-serif;
    font-style: italic;
}
footer .region-subfooter {
	font-size: 14px;
    padding: 30px 0 6px;
    border-top: 1px solid #33a093;
	clear: both;
}
footer .region-footer section h2 {
    color: #fff;
}
footer .region-footer section:not(#block-logo) h2 {
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 600;
}
footer .region-subfooter #copyright {
	float: left;
	letter-spacing: .02em;
}
footer .region-subfooter #block-copyright {
	padding-left: 0;
}
footer .region-subfooter #block-socialicons {
	padding-right: 0;
}
footer .region-subfooter #copyright a {
	color: #fff;
}
footer .region-subfooter #social-icons {
	float: right;
}
footer .region-subfooter #social-icons .fa {
	font-size: 20px;
	color: #fff;
}

/***** Sidebar *****/
#block-mainnavigation {
    padding-top: 50px;
    padding-bottom: 38px;
    background: #d1d1d1 url(../images/sidebar-top.png) left top no-repeat;
    background-size: 100%;
}
#block-mainnavigation ul {
    list-style: none;
	padding-left: 0;
}
.landing-page #main #block-mainnavigation-menu {
    margin-left: -5px;
    margin-bottom: 0 !important;
}

/***** Top nav *****/
#top-menu {
    max-width: 1400px;
    position: absolute;
    top: unset;
    right: 118px;
    bottom: -45px;
}
#top-menu .nav li {
    float: left;
}
#top-menu .nav li:focus a,
#top-menu .nav li:hover a {
    text-decoration: underline;
	background: none;
}
#top-menu .nav li a {
    color: #fff;
	papadding: 8px 10px;
}
#top-menu .nav li:last-child {
    background-color: #a01114;
    border-radius: 8px;
    margin-top: 2px;
}
#top-menu .nav li:last-child a:focus,
#top-menu .nav li:last-child a:hover {
    text-decoration: underline;
    background-color: #a01114;
}

.not-front #main > .row > section {
	padding-top: 20px;
}



.affix-top {
  position: relative;
}

.affix {
  top: 0;
  position: fixed;
}



/***** Responsive *****/
@media (min-width: 768px) {
	.path-node #main > .row > aside {
		width: 22.677%;
		clear: left;
		padding-left: 5px;
	}
	.path-node #main > .row > section {
		width: 77.323%;
		float: right;
	}
}
@media (max-width: 768px) {
	footer .region-subfooter {
		padding: 24px 0 6px;
	}
	footer .region-subfooter #copyright {
		float: none;
		text-align: center;
		padding: 6px 15px;
	}
	footer .region-subfooter #social-icons {
		float: none;
    	padding: 6px 15px;
		text-align: center;
	}
}
