
/***** Front page *****/

body, p {
    font-family: "freight-text-pro-i4", "freight-text-pro", serif;;
    font-size: 18px;
    line-height: 1.42857;
    color: #333333;
    background-color: #fff;
}
#site-name a {
	text-decoration: none;
	color: #000;
}
#spotlights {
	padding: 50px 0;
	border-top: 1px solid #b2b2b2;
}
footer {
    padding: 58px 0 24px 0;
}
footer {
    background: #1c2c36;
	color: #fff;
}
footer .region-footer {
    padding: 40px 0;
}
footer .region-subfooter {
	font-size: 14px;
    padding: 30px 0 6px;
    border-top: 1px solid #33a093;
}
footer .region-subfooter #copyright {
	float: left;
	letter-spacing: .02em;
}
footer .region-subfooter #block-copyright {
	padding-left: 0;
}
footer .region-subfooter #block-socialicons {
	padding-right: 0;
}
footer .region-subfooter #copyright a {
	color: #fff;
}
footer .region-subfooter #social-icons {
	float: right;
}
footer .region-subfooter #social-icons .fa {
	font-size: 20px;
	color: #fff;
}

/***** Responsive *****/

@media (min-width: 768px) {
	.path-node #main > .row > aside {
		width: 22.677%;
		clear: left;
		padding-left: 5px;
	}
	.path-node #main > .row > section {
		width: 77.323%;
		float: right;
	}
}
@media (max-width: 768px) {
	footer .region-subfooter {
		padding: 24px 0 6px;
	}
	footer .region-subfooter #copyright {
		float: none;
		text-align: center;
		padding: 6px 15px;
	}
	footer .region-subfooter #social-icons {
		float: none;
    	padding: 6px 15px;
		text-align: center;
	}
}
